<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {%for i in list%}
        <li>
         {{i.bname}}
        </li>
         {%endfor%}
    </ul>
    <div style="margin-left:40px;">
        {%for i in list_2.page_range%}
        {%if list.number == i %}
        {{i}}
        {%else%}
        <a href="/page{{i}}">{{i}}</a>
        {%endif%}
        {%endfor%}
    </div>
</body>
</html>