{%extends 'bbsapp/base.html'%}
{%block href%}
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'home/css/nprogress.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'home/css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'home/css/font-awesome.min.css'%}">
<link rel="apple-touch-icon-precomposed" href="{%static 'home/images/icon.png'%}">
<link rel="shortcut icon" href="{%static 'home/images/favicon.ico'%}">
<script src="{%static 'home/js/nprogress.js'%}"></script>
<script src="{%static 'home/js/jquery.lazyload.min.js'%}"></script>
<script src="{%static 'home/js/jquery.ias.js'%}"></script>
<script src="{%static 'home/js/scripts.js'%}"></script>
  <!--<script>window.location.href='upgrade-browser.html';</script>-->
  {%endblock href%}
{%block center%}
{%load static%}
<section class="container container_2">
<div class="content-wrap">
<div class="content">
  <div id="focusslide" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#focusslide" data-slide-to="0" class="active"></li>
	  <li data-target="#focusslide" data-slide-to="1"></li>
	</ol>
	<div class="carousel" role="listbox">
	  <div class="item active">
	  <a href="#" target="_blank"  class="title_image" title="专业网站建设" >
	  <img src="{%static 'home/images/201610241227558789.jpg'%}" alt="专业网站建设" class="img-responsive"></a>
	  </div>
	</div>
	<a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">下一个</span> </a> </div>
  <article class="excerpt-minic excerpt-minic-index">
		<h2><span class="red">【推荐】</span><a target="_blank" href="#" title="用DTcms做一个独立博客网站（响应式模板）" >用DTcms做一个独立博客网站（响应式模板）</a>
		</h2>
		<p class="note">.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）</p>
	</article>
  <div class="title">
	  {%load myhome_tag%}
	  {%get_user request.session.login.id as user%}
	<div class="title_nav"><h3>我的帖子</h3><a href="{{user.get_absolute_url}}?next=time">时间</a>
		<span>|</span><a href="{{user.get_absolute_url}}?next=hot">热度</a></div>
	<div class="more">
       <div class="btn-group" role="group" aria-label="...">
		  <a href="{%url 'myhome:newcomment'%}" target="_blank" title="IT技术笔记" ><button type="cl" class="btn btn-default">最新回复</button></a>
          <button type="button" class="btn btn-default"><a href="#" title="MZ-NetBlog主题" >我的收藏</a></button>
          <button type="button" class="btn btn-default"><a href="#" title="IT技术笔记" >我的关注</a></button>
		   <a href="{%url 'myhome:history'%}" title="IT技术笔记" ><button type="button" class="btn btn-default">浏览历史</button></a>
		  <a href="{%url 'myhome:newcomment'%}?next=to_comment_me" title="IT技术笔记" target="_blank"><button type="button" class="btn btn-default">我的评论</button></a>
        </div>

    </div>
  </div>
	{%block article%}
	{%for list in result%}
    {%load myhome_tag%}
	{%get_content list.content as content%}
      <article class="excerpt excerpt-1" style="">
		<header><a class="cat" href="#" title="MZ-NetBlog主题" >MZ-NetBlog主题<i></i></a>
			<h2><a href="#" title="用DTcms做一个独立博客网站（响应式模板）" target="_blank" >{{list.title}}</a>
			</h2>
		</header>
		<p class="meta">
			<time class="time"><i class="glyphicon glyphicon-time"></i> {{list.startime}}</time>
			<span class="views"><i class="glyphicon glyphicon-eye-open"></i> 216</span> <a class="comment" href="##comment" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i>&nbsp&nbsp{{list.comment_set.count}}</a>
		</p>
		<p class="note">{{content | safe }}</p>
	</article>
	{%endfor%}
	{%endblock article%}

  <nav class="pagination" style="display: none;">
	<ul>
	  <li class="prev-page"></li>
	  <li class="active"><span>1</span></li>
	  <li><a href="?page=2">2</a></li>
	  <li class="next-page"><a href="?page=2">下一页</a></li>
	  <li><span>共 2 页</span></li>
	</ul>
  </nav>
</div>
</div>
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<aside class="sidebar">
<div class="fixed">
  <div class="widget widget-tabs">
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" >统计信息</a></li>
	  <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" >联系站长</a></li>
	</ul>
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane contact active" id="notice">
		<h2>日志总数:
			  888篇
		  </h2>
		  <h2>网站运行:
		  <span id="sitetime">88天 </span></h2>
	  </div>
		<div role="tabpanel" class="tab-pane contact" id="contact">
		  <h2>QQ:
			  <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""  data-original-title="QQ:"></a>
		  </h2>
		  <h2>Email:
		  <a href="#" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title=""  data-original-title="#"></a></h2>
	  </div>
	</div>
  </div>
  <div class="widget widget_search">
	<form class="navbar-form" action="/Search" method="post">
	  <div class="input-group">
		<input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
		<span class="input-group-btn">
		<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
		</span> </div>
	</form>
  </div>
</div>
<div class="widget widget_hot">
	  <h3>最新评论文章</h3>
	  <ul>            
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>
			<li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
				<img class="thumb" data-original="images/201610181739277776.jpg" src="images/201610181739277776.jpg" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
			</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>
				2016-11-01
			</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>

	  </ul>
 </div>
 <div class="widget widget_sentence">    
	<a href="#" target="_blank" rel="nofollow" title="专业网站建设" >
	<img style="width: 100%" src="{statiac 'home/images//201610241224221511.jpg'%}" alt="专业网站建设" ></a>
 </div>
 <div class="widget widget_sentence">    
	<a href="#" target="_blank" rel="nofollow" title="MZ-NetBlog主题" >
	<img style="width: 100%" src="{statiac 'home/images/ad.jpg'%}" alt="MZ-NetBlog主题" ></a>
 </div>
<div class="widget widget_sentence">
  <h3>友情链接</h3>
  <div class="widget-sentence-link">
	<a href="#" title="网站建设" target="_blank" >网站建设</a>&nbsp;&nbsp;&nbsp;
  </div>
</div>
</aside>
</section>
<!----------------------------------------------------------->

    <!--分页-->
<div id="pagination" style="text-align:center;overflow: hidden">
    <nav aria-label="Page navigation">
    <ul id="pages" class="pagination pagination-sm pagination-xs">
    {%if  is_paginated%}
    {%if page_obj.number != 1%}
        <li><a href="?page={{page_obj.number | add:-1}}">上一页</a></li>
    {%endif%}
    {% if first %}
    <li><a href="?page=1">1</a></li>
    {% endif %} {% if left %} {% if left_dian%}
    <li><span>...</span></li>
    {% endif %} {% for i in left %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %} {% endif %}
    <li><a href="javascript:;" style="color:#26ceff">{{ page_obj.number }}</a>
    {% if right %} {% for i in right %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %} {% if right_dian%}
    <li><span>...</span></li>
    {% endif %} {% endif %} {% if last %}
    <li><a class='current-page' href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
    {% endif %}
    {%if page_obj.number != paginator.num_pages%}
    <li><a href="?page={{page_obj.number | add:1}}">下一页</a></li>
    {%endif%}
    {%endif%}
    </ul>
        </nav>
</div>

<footer class="footer">
<div class="container">
<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
<div id="gotop"></div>
</footer>
{%endblock center%}



